@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px !important;
}

/***********Header Section*************/
.logo {
  width: 100px;
  height: auto;
}
.top-content {
  background: #f9fcff !important;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2px;
}
.home-content {
  padding: 50px 0px !important;
}
.navbar-nav.center-links {
  justify-content: center;
  flex-grow: 1;
}
.nav-item {
  padding: 0 15px;
}
.nav-link {
  color: black;
}
.login-btn,
.try-it-btn {
  margin-left: 10px;
}
.btn-no-hover:hover {
  background-color: transparent !important;
  color: inherit !important;
}
@media (max-width: 768px) {
  .btn {
    font-size: 12px;
  }
  .logo {
    margin-left: 20px
  }
}

/************Home*************/
.main-content{
  padding: 40px 0px !important;
}
.card {
  width: 100%;
  max-width: 13rem;
  height: 13rem;
  margin: 5px;
  justify-content: center;
  background-color: #e1eeff;
  border: 0;
}
.card.outer-card {
  position: relative;
  margin-top: -75px;
  width: 90%;
  max-width: 90rem;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card {
  width: 100%;
  max-width: 13rem;
  height: 13rem;
  margin: 5px;
  background-color: #e1eeff;
}
.card-body.d-flex.flex-column.justify-content-end {
  height: 100%;
  padding-bottom: 8px;
}
.home-top {
  margin-top: 65px;
}
@media (max-width: 1024px) {
  .card.outer-card {
    margin-top: -70px !important;
  }
}
@media (max-width: 768px) {
  .card.outer-card {
    position: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
    max-width: 90rem;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .nav-item {
    padding: 0px; 
  }
  .login-btn {
    width: 100%;
    margin: 7px 0px; 
  }
  .try-it-btn {
    width: 100%; 
    margin: 7px 0px;  
  }
  .try-it-btn:hover{
     background-color: #b1d8ff;
  }
  .button-group {
    flex-direction: row; 
    align-items: flex-start;
    margin: 5px 1px;
  }
  .nav-item a:hover{
    background-color: #b1d8ff !important;
    padding-left: 12px;
    border-radius: 10px;
    color: black;
  }
  .text-size{
    padding: 0px;
  }
  .system-text-size{
    margin-left: 3px;
  }
  .home-top {
    margin-top: 25px;
  }
}
@media (max-width: 992px) {
  .card.outer-card {
    position: 0;
    margin: 15px 0px;
    width: 90%;
    max-width: 90rem;
    height: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .nav-item {
    padding: 0px; 
  }
  .button-group {
    flex-direction: row; 
    align-items: flex-start;
    margin: 5px 1px;
  }
  .login-btn {
    width: 100%;
    margin: 7px 0px; 
  }
  .try-it-btn {
    width: 100%; 
    margin: 7px 0px;  
  }
  .try-it-btn:hover{
     background-color: #b1d8ff;
  }
  .nav-item a:hover{
    background-color: #b1d8ff !important;
    padding-left: 12px;
    border-radius: 10px;
    color: black;
  }
  .system-text-size{
    margin-left: 1px;
  }
  .text-size{
    font-size: 1rem !important;
    padding: 0px;
    margin-left: 2%;
  }
  img-fluid{
    width: 100%;
  }
}

/**************Main*************/
.layout-container {
  display: flex;
  height: 82vh;
  background: #f7f6ff;
  overflow: visible;
  margin: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bg-light {
  background-color: #f0edfa !important;
}
.sidebar {
  flex: 0 0 20%; 
  background-color: #fff !important;
  max-height: 780px;
  overflow-y: auto;
  padding-right: 0px !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  height: auto;
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
  margin-top: 10px;
}
.sidebar li {
  margin: 0px 0px 15px 15px;
  cursor: pointer;
}
.sidebar .nav-link {
  text-decoration: none;
  color: #333;
  margin: 5px 0px;
}
.sidebar .side-links.active .nav-link {
  background-color: rgba(57, 105, 202, 0.13);
  color: #333; 
  border-right: 4px solid #3969CA;
}
.sidebar-logo {
  margin: 15px 15px 15px 30px;
}
.side-links {
  margin: 0 !important;
  padding-left: 15px;
}
.warehouse {
  display: flex;
  align-items: center !important;
  gap: 10px;
  margin: 15px 15px 15px 30px;
}
.warehouse img {
  width: 25px !important;
  height: 25px !important;
}
.warehouse p {
  margin: 0;
  font-size: 25px;
  color: #333;
}
.mainbar {
  flex: 1; 
  margin: 30px;
  overflow-y: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dashboard-padding{
  padding: 20px !important;
}
.menu-icon {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1100;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: none;
}
.menu-icon .icon {
  display: block;
}
@media (max-width: 1295px) {
  .sidebar {
    flex: 0 0 30%; 
  }
  .layout-container {
    margin: 50px !important;
  }
  .dashboard-booking-container .input-field {
    padding: 5px !important;
  }
  .mainbar {
    padding: 3px !important;
    margin: 15px !important;
  }
}
@media (max-width: 992px) {
  .layout-container {
    flex-direction: column;
    height: 80vh;
    overflow-y: auto !important;
    margin-top: 30px;
  }
  .mainbar {
    flex: 0 0 100%;
    height: auto;
    overflow-y: scroll;
    margin: 5px 5px;
    padding: 15px;
  }
  .sidebar {
    flex: 0 0 250px;
    height: 87vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 250px;
    transform: translateX(-100%);
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .sidebar:not(.open) {
    transform: translateX(-100%);
  }
  .mainbar {
    margin-left: 0;
  }
  .menu-icon {
    top: 15px;
    z-index: 1100;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: block;
  }
  .warehouse {
    padding-left: 30px;
   }
}
@media (max-width: 768px) {
  .sidebar {
    flex: 0 0 250px;
    height: 87vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 250px;
    transform: translateX(-100%);
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .sidebar:not(.open) {
    transform: translateX(-100%);
  }
  .mainbar {
    margin-left: 0;
  }
  .menu-icon {
    top: 15px;
    z-index: 1100;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: block;
  }
  .menu-icon .icon {
    display: block;
  }
  .sidebar ul {
    min-height: 150px; 
    max-height: 300px; 
  }
  .sidebar .nav-link {
    margin: 0px 0px;
  }
  .warehouse {
   padding-left: 30px;
  }
}
@media (max-width: 576px) {
  .sidebar ul {
    min-height: 120px; 
    max-height: 250px; 
  }
  .menu-icon {
    top: 10px;
    left: 10px;
    font-size: 20px;
  }
}
/*************Dashboard Page*************/
.row>*{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.dashboard-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-right: 10px;
}
/*********Dashboard All details**********/
.dropdown-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 20px;
}
.custom-dropdown {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  width: 150px;
  font-size: 14px !important;
}
.custom-box {
  width: calc(25% - 20px);;
  padding: 20px; 
  border: 1px solid #ddd;
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  text-align: center; 
  margin: 0; 
}
.number {
  font-size: 22px !important; 
  font-weight: 600 !important; 
  margin: 0; 
}
.description {
  color: #555; 
  margin: 5px 0 0;
  text-align: center; 
  overflow: hidden;
  word-wrap: break-word;
  max-width: 100%;
}
/***********Dashboard product details***********/
.product-details h4 {
  background-color: #ECEEF4;
  padding: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.col-md-4.product-details {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 40%;
}
.product-details-sub {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 35px;
  max-height: 70%;
  height: 100%;
}
.product-details-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
  color: #555;
}
.product-details-item .category {
  margin: 0;
  padding: 7px 8px;
}
.product-details-item .count {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 40px;
}
.product-details-container {
  flex: 1; 
}
.sales-analysis {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 45% !important;
  margin: 20px 0px;
}
.category-dropdown{
  padding: 20px;
}
.sales-category{
  margin-right: 30px;
}
.stock-availability{
  width: 100%;
  max-width: 52% !important;
}
.canvas-container {
  flex: 1; 
}
.separator-line {
  width: 1px;
  height: 100%;
  background-color: #ddd;
  margin: 0 10px;
}
@media (max-width: 1550px) {
  .sales-analysis {
    max-width: 100% !important;
  }
  .top-selling {
    max-width: 100% !important;
    width: 100%;
    margin-left: 0px !important;
  }
}
@media (max-width: 1295px) {
  .dashboard-head {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
  }
  .col-md-4.product-details {
    margin-top: 20px;
    width: 100%;
    max-width: 34%;
  }
  .product-details-sub {
    flex-direction: column;
  }
  .product-details-sub img {
    border-right: 0px;
    border-bottom: 1px solid #707070;;
  }
}
@media (max-width: 1320px) {
  .dashboard-head {
    width: 100%;
    max-width: 100%;
  }
  .col-md-4.product-details {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }
  .number {
    font-size: 16px; 
    font-weight: 600; 
    margin: 0; 
  }
  .description {
    color: #555; 
    margin: 5px 0 0;
    text-align: center; 
    overflow: hidden;
    word-wrap: break-word;
    max-width: 100%;
    font-size: 14px;
  }
  .product-details-sub {
    flex-direction: column;
  }
  .product-details-sub img {
    border-right: 0px;
    border-bottom: 1px solid #707070;;
  }
  .product-details-item .category {
    padding: 7px 3px;
  }
  .product-details-item .count {
    padding-left: 10px;
  }
}
@media (max-width: 768px) {
  .custom-box {
    width: calc(50% - 20px); 
  }
  .dashboard-head {
    width: 100%;
    max-width: 100%;
  }
  .col-md-4.product-details {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .custom-box {
    width: calc(50% - 20px); 
  }
  .description {
    font-size: 12px; 
    text-align: center;
  }
}
/*************Product Sale**************/
.product-sale {
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 100% !important;
}
.stock-dropdown{
  padding: 20px;
}
@media (max-width: 480px) {
  .product-sale {
    overflow-y: scroll;
  }
}
/*************Top selling item*************/
.sales-activity{
  width: 100%;
  max-width: 60%;
}
.top-selling-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.top-selling-item .number {
  font-size: 18px !important;
}
.top-selling-item .custom-box {
  width: 100%;
  margin: 10px;
  font-size: 14px !important;
}
.top-selling{
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px 0px;
  margin-left: 40px;
}
.selling-dropdown{
  padding: 20px;
}
@media (max-width: 1550px) {
  .top-selling {
    max-width: 100% !important;
    width: 100%;
    margin-left: 0px !important;
  }
}
@media (max-width: 590px) {
  .top-selling-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px; 
    padding: 5px;
  }
  .top-selling-item .custom-box {
    width: 100%; 
    margin: 0;
  }
}
/***********Purchase List***********/
.purchase-list h2{
  padding: 20px;
  background-color: #3C424E;
  color: white;
  font-size: 22px !important;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}
.purchase-textfield {
  margin: 0;
  padding: 20px 40px;
  justify-content: space-between;
  display: flex;
}
.custom-table th {
  background-color: #4B3D52;
  color: white;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.custom-table td, 
.custom-table th {
  border-style: none;
  text-align: center;
}
.custom-table .purchase-id{
  color: #7D0CB4;
  padding: 10px;
cursor: pointer;
  pointer-events: auto;
}
.table-container {
  overflow: hidden; 
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  border: 1px solid #e3e3e3; 
  box-shadow: 0 4px 8px rgba(153, 153, 153, 0.2);
  height: 450px;
  overflow-y:  auto !important;
}
.custom-table tbody tr:last-child {
  border-bottom: none; 
}
.create-purchase-btn{
  background-color: #1F3F7F !important;
  color: white !important;
  margin-bottom: 10px;
  cursor: pointer;
}
@media (max-width: 480px) {
.purchase-list {
  padding: 20px;
}
.purchase-textfield {
  margin: 0;
  padding: 20px 0px;
  justify-content: space-between;
  display: flex;
}
.table-container {
  margin: 0 !important;
  display: flex;
  overflow-x: auto;
}
.custom-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}
.custom-table th, .custom-table td {
  padding: 12px;
  text-align: left;
}
.purchase-textfield select, .purchase-textfield input {
  width: 100%;
}
}
@media (max-width: 1250px) {
  .purchase-textfield .col-lg-6 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .purchase-textfield .col-md-2 {
    margin-bottom: 15px;
  }
  .table-container {
    overflow-x: auto; 
  }
}
/*************Create Purchase************/
.create-purchase{
  margin: 0;
  padding: 20px 50px;
}
.goBack-btn {
  border: none;
  background: none;
  color: #3969CA;
  padding: 10px;
  margin-left: 30px;
}
.create-purchase-textfield {
  justify-content: space-between;
  display: flex;
}
.custom-textfield{
  height: 45px
}
.create-purchase-heading{
  justify-content: space-between;
  display: flex;
}
.edit-text{
  text-align: right;
  cursor: pointer;
}
.submit-btn{
  background-color: #1F3F7F !important;
  color: white !important;
  margin-bottom: 10px;
  width: 13%;
  cursor: pointer;
}
.print-barcode {
  border: 1px solid #707070; 
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  height: 50px;
  width: 180px;
  background-color: #fff; 
  color: #928F8F; 
  cursor: pointer;
  margin-top: 30px;
  padding: 5px;
}
.print-barcode span svg {
  font-size: 30px !important; 
  color: #007bff; 
  padding-right: 5px;
}
.sticky-header-container .sticky-row {
  position: sticky;
  top: 0;
  background-color: white; 
  z-index: 100;
  border-bottom: 1px solid #dee2e6;
}
.scrollable-container {
  max-height: 500px;
  overflow-y: auto;
  padding: 10px; 
}
.classify-dropdown{
  height: 100%;
  width: 90%;
  border: 1px solid #ddd; 
}
@media (max-width:768px) {
  .first-row-textfield .col-md-3{
    margin-bottom: 10px;
  }
  .submit-btn{
    width: 100%; 
  }
  .custom-label{
    margin-top: 10px;
  }
  .classify-dropdown{
    height: 100% !important;
    width: 90%;
    border: 1px solid #ddd; 
  }
}
/**************Create invoice overview*************/
.invoice-btn{
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}
.edit-print-btn {
  background-color: #E9EAEB;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 10px;
}
.edit-btn, .print-btn, .delete-btn {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  position: relative; 
}
.edit-btn::after, .print-btn::after, .delete-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #707070; 
}
.invoice-card{
  border-radius: 5px;
  height: auto;
  background-color: white;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 15%;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
  flex-wrap: wrap;
}
.outer-card {
  background-color: white;
  margin: 40px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 1;
}
.invoice-id{
  color: #3769CE;
  font-weight: bold;
  flex-wrap: wrap;
}
@media (max-width: 1350px) {
  .outer-card .invoice-card {
    width: 100%;
    max-width: 40%;
    margin-bottom: 20px; 
  }
}
@media (max-width: 768px) {
  .outer-card .invoice-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px; 
  }
  .outer-card {
    margin: 40px 5px;
  }
  .invoice-btn {
    flex-direction: column;
    margin: 0px;
  }
}
/**************Create invoice*************/
.create-invoice-outer-card {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.invoice-heading {
  justify-content: center;
  display: flex;
  font-weight: bold;
  padding: 30px;
}
.invoice-content {
  display: flex;
}
.invoice-table {
  overflow-y:  auto !important;
  margin-top: 40px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.table-content th, 
.table-content td {
  border-left: none; 
  border-right: none;
  border-bottom: 1px solid #ddd; 
}
.table-content tr:last-child td {
  border-bottom: none; 
}
.table-bottom-content {
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  text-align: justify;
}
.table-bottom-content .col-md-5 {
  padding: 10px;
}
.close-icon {
  font-size: 1.8rem !important;
  color: black;
}
.modal-title {
  color: black;
  font-size: 1.3rem !important;
  font-weight: bold;
  background-color: #F0F3FB;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-content {
  background-color: #F8F9F9;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 10px;
}
.model-checkbox-text {
  display: flex;
  align-items: center;
}
@media (max-width: 1160px) {
  .create-invoice-outer-card {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .invoice-content {
    flex-direction: column !important; 
    align-items: flex-start; 
    align-items: center;
    text-align: center;
    margin-left: 0px;
  }
  .invoice-table {
    overflow-x: scroll;
    margin: 10px;
  }
  .table-bottom-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.form-select {
  font-size: 14px !important;
}